@import "font-awesome.min";
@import "bootstrap.min";
@import "highlighting";

@mixin blue-bg($alpha: 1) { background-color: rgba(53,151,202,$alpha); }
@mixin green-bg($alpha: 1) { background-color: rgba(57,202,116,$alpha); }
@mixin yellow-bg($alpha: 1) { background-color: rgba(236,192,47,$alpha); }
@mixin red-bg($alpha: 1) { background-color: rgba(229,77,66,$alpha); }

@mixin flex($val) {
  -webkit-box-flex: $val;
  -webkit-flex: $val;
  -moz-box-flex: $val;
  -ms-flex: $val;
}

html, body {
  -webkit-font-smothing: antialiased;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 760px;
}

body {
  font-size: 16px;
}

.sticky-footer-wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

footer {
  font-size: 14px;
  color: #aaa;
  height: 60px;
  text-align: center;
}

img {
  max-width: 100%;
}

code {
  background-color: #f8f8f8;
}

h1 {
  line-height: 1.3em;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.null-state {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-bottom: 8px;
  margin-right: 6px;
  vertical-align: top;
  display: inline-block;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 20px;
  color: #555;
  text-transform: uppercase;
  //font-family: 'Open Sans', sans-serif;
}

h4 {
  font-weight: 400;
}

p {
  line-height: 1.8em;
  font-size:16px;
  font-weight: normal;
  margin-bottom: 1.4em;
}

li {
  margin-bottom: 0.5em;
  list-style-type: none;
}

pre {
  border-radius: 0px;
}

ul {
  padding: 0;
}

section {
  margin-bottom: 60px;
}

.navbar {
  color: #888;
  .navbar-brand {
    font-size: 18px;
    padding-right: 4px;
    i {
      font-size: 0.82em;
      margin-right: 0.2em;
    }
  }

  .navbar-text {
    float: none;
    display: inline-block;
    margin-left: 0px;
    line-height: 20px;
    font-size: 18px;
  }
}

ol {
  margin-left: 0em;
}

ol li {
  list-style-type: decimal;
}

.sketch-page {
  h1 {
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 40px;
  }

  iframe {
    width: 100%;
    height: 500px;
    border: solid #eee 1px;
    overflow: auto;
  }

  .sketch-meta {
    font-size: 14px;
    color: #999;

    a {
      color: #999;
    }
  }

  section {
    margin-bottom: 30px;
  }

  pre {
    font-size: 15px;
    border: none;
    background-color: transparent;
  }

  .syntaxhighlighter {
    font-size: 14px;
    font-family: monospace;
    white-space: nowrap;
    overflow: auto;
  }

  .syntaxhighlighter .gutter {
    color: #ccc;
    padding-right: 5px;
  }

  .controls {
    text-align: right;
    float: right;
    font-size: 14px;
  }

  .compile-failed {
    padding: 20px;
    background-color: #fdd;
  }
}

.intro-page {
  .sketch-preview {
    margin-bottom: 30px;

    img {
      border: solid #eee 1px;
    }
  }

  .sketch-meta {
    strong {
      font-weight: 500;
    }

    margin-bottom: 5px;
  }

  .instructions-list {
    padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    font-size: 16px;

    ol {
      padding: 0;
      padding-left: 30px;
    }

    code {
      white-space: wrap;
    }

    li {
      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
  }

  ol {
    font-size: 18px;
    //font-family: 'PT Serif', serif;
    line-height: 1.6em;
  }

  .sketch-examples ul {
    padding: 20px;
    background-color: rgba(0,0,0,0.02);
  }

  .jobs {

    i {
      width: 30px;
      display: inline-block;
      text-align: center;
    }

    a:hover { color: #2a6496; }

    .waiting i {
      color: #7f8c8d;

      a { color: #7f8c8d; }
      a:hover { color: #2a6496; }
    }

    .succeeded i {
      color: #27ae60;

      a { color: #27ae60; }
      a:hover { color: #2a6496; }
    }

    .failed i {
      color: #e74c3c;

      a {
        color: #e74c3c;
      }
      a:hover { color: #2a6496; }
    }

    .compiling i {
      color: #2980b9;

      a { color: #2980b9; }
      a:hover { color: #2a6496; }
    }
  }
}

@keyframes bgcolor {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #2ecc71;
  }
  40% {
    background-color: #f1c40f;
  }
  60% {
    background-color: #8e44ad;
  }
  80% {
    background-color: #e67e22;
  }
  100% {
    background-color: #3498db;
  }
}

@-webkit-keyframes bgcolor {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #2ecc71;
  }
  40% {
    background-color: #f1c40f;
  }
  60% {
    background-color: #8e44ad;
  }
  80% {
    background-color: #e67e22;
  }
  100% {
    background-color: #3498db;
  }
}

.compiling-page {
  .box {
    height: 230px;
  }
  .animate {
    -webkit-animation: bgcolor infinite 6s;
  }
}